@page "/NotFound"

<PageTitle>Page Not Found</PageTitle>

<div class="container align-self-center">
    <div class="d-flex justify-content-center">
        <Card Class="shadow py-3 px-4">
            <CardBody Class="d-flex flex-column">
                <CardTitle>Page Not Found</CardTitle>
                <p>Sorry, the page you're looking for doesn't exist.</p>
                <br />
                <Button Class="px-4" Type="ButtonType.Link" To="" Color="ButtonColor.Secondary" Outline="true">Go Back</Button>
            </CardBody>
        </Card>
    </div>
</div>