<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" @bind="SearchFilter" @bind:event="oninput" @bind:after="FilterClear" />
    <div class="input-group-append">
        <button @onclick="FilterHandlerAsync" class="btn @(string.IsNullOrEmpty(SearchFilter) ? "btn-outline-secondary" : "btn-secondary")" type="button">Search</button>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> SearchOnClick { get; set; }

    public string? SearchFilter { get; set; }


    private void FilterHandlerAsync()
    {
        SearchOnClick.InvokeAsync(SearchFilter);
    }

    private void FilterClear()
    {
        if (string.IsNullOrEmpty(SearchFilter))
        {
            SearchOnClick.InvokeAsync(string.Empty);
        }
    }
}
