@inherits LayoutComponentBase

<div class="base">
    <!-- NAV -->
    <NavBar></NavBar>
    <!-- CONTENT -->
    <main class="d-flex flex-column">
        @Body
    </main>
    <!-- FOOTER -->
    <Footer></Footer>
</div>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
