@page "/Jobseeker/dashboard"
@rendermode InteractiveServer

@attribute [Authorize(Roles = $"{SD.Role_Admin},{SD.Role_JobSeeker}")]
<PageTitle>Dashboard</PageTitle>

<br />
<div class="container rounded bg-white py-3 shadow-sm">
    <h2 class="border-bottom">JOB APPLICATIONS</h2>

    <Tabs>
        <Tab Title="Applied" Active="true">
            <Content>
                <ApplicationsGrid ApplicationStatus="@SD.ApplicationStatus_Applied"></ApplicationsGrid>
            </Content>
        </Tab>
        <Tab Title="Saved">
            <Content>
                <ApplicationsGrid ApplicationStatus="@SD.ApplicationStatus_Saved"></ApplicationsGrid>
            </Content>
        </Tab>
        <Tab Title="Rejected">
            <Content>
                <ApplicationsGrid ApplicationStatus="@SD.ApplicationStatus_Rejected"></ApplicationsGrid>
            </Content>
        </Tab>
    </Tabs>
</div>

@code {

}