@inherits LayoutComponentBase
@layout NetCareer.Components.Layout.MainLayout
@inject NavigationManager NavigationManager

<br />
<div class="container rounded bg-white py-3 shadow-sm">
@if (HttpContext is null)
{
    <p>Loading...</p>
}
else
{
    @Body
}
</div>

@code {
    [CascadingParameter]
    private HttpContext? HttpContext { get; set; }

    protected override void OnParametersSet()
    {
        if (HttpContext is null)
        {
            // If this code runs, we're currently rendering in interactive mode, so there is no HttpContext.
            // The identity pages need to set cookies, so they require an HttpContext. To achieve this we
            // must transition back from interactive mode to a server-rendered page.
            NavigationManager.Refresh(forceReload: true);
        }
    }
}
