<PageTitle>@Title</PageTitle>

@if(!string.IsNullOrEmpty(Header))
{
    <div class="d-flex justify-content-center"><h1 class="text-uppercase border-bottom">@Header</h1></div>
}

@code {
    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public string? Header { get; set; }
}
