@page "/About"
<br />
<div class="container rounded bg-white p-0 shadow-sm">
    <br />
    <TitleComponent Title="About" Header="About"></TitleComponent>
    <div class="border rounded bg-light m-4 p-5">
        <p class="m-0">
            Lorem ipsum dolor sit amet. Aut internos quas et neque enim a voluptate praesentium. Hic quas quia in voluptates molestiae et recusandae ipsum ab temporibus explicabo At voluptas fugiat qui nulla ipsa sed harum enim. Qui reprehenderit recusandae et quia eveniet a omnis quod quo sapiente cumque quo aliquid incidunt.

            Eos harum porro et natus incidunt et libero modi sed dolorum libero et modi nobis. Eos itaque consequatur et officia consequuntur est optio sunt est laboriosam velit.

            Sed voluptatibus cupiditate sed modi officia est omnis quisquam. Ea beatae ipsa vel similique maiores a inventore omnis? Sit galisum laudantium ut quam omnis est reiciendis cupiditate.
        </p>
    </div>
</div>

@code {

}
