@page "/Messages"
@using NetCareer.Models.DTO

@rendermode InteractiveServer

@inject IMessageRepository MessagesRepo
@inject IProfileRepository ProfileRepo

@attribute [Authorize]

<PageTitle>Messages</PageTitle>

<br />
<div class="container bg-white px-0 shadow-sm">
    <div class="d-flex h-100">
        <div class="col-4">
            <header class="navbar bg-light border-bottom border-3">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1"><i class="bi bi-chat-left-text"></i> Messages</span>
                </div>
            </header>
            <div class="contacts-container">
                @if (Contacts.Any())
                {
                    foreach (var item in Contacts)
                    {
                        <ContactItem Contact="item"></ContactItem>
                    }
                }
            </div>
        </div>
        <div class="col-8">
            <header class="navbar bg-light border-bottom border-3">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Conversation</span>
                </div>
            </header>
            <div>
                <div class="chat-container">
                    @if (Chat.Any())
                    {
                        <MessageSection Chat="Chat"></MessageSection>
                    }
                </div>

                @if (!string.IsNullOrEmpty(CurrentContactId))
                {
                    <div class="mx-2">
                        <EditForm method="post" Model="inputMessage" OnValidSubmit="SendMessage" FormName="SendMessageForm" Enhance>
                            <DataAnnotationsValidator />
                            <InputTextArea class="form-control" @bind-Value="inputMessage.Content" rows="3" placeholder="Write a message..."></InputTextArea>
                            <ValidationMessage For="@(() => inputMessage.Content)" class="text-danger" />
                            <div class="my-2"></div>
                            <button type="submit" class="btn btn-primary px-5">Send</button>
                        </EditForm>
                    </div>
                    <br />
                }
            </div>
        </div>
    </div>
</div>

@code {
    // Parameter to get the user ID from the query string
    [SupplyParameterFromQuery(Name = "id")]
    public required string CurrentContactId { get; set; }

    // Cascading parameter to get the current authentication state
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    // Store the current user's ID
    private string CurrentUserId;

    // Parameter to get message input from the form
    [SupplyParameterFromForm]
    private InputMessage inputMessage { get; set; } = new();

    // List to store contacts
    private List<ContactDTO> Contacts { get; set; } = new();
    private PersonalContactDTO PersonalContact { get; set; } = default!;

    // List to store chat messages
    private List<Message> Chat = new();

    // Method to initialize the component
    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            // Get the current user's authentication state
            var authState = await authenticationState;
            var userId = authState.User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

            if (!string.IsNullOrEmpty(userId))
            {
                CurrentUserId = userId;
                await GetPersonalContact();
                await GetContacts();
            }
        }
    }

    // Method to handle parameter changes
    protected override async Task OnParametersSetAsync()
    {
        if (!string.IsNullOrEmpty(CurrentContactId))
        {
            await OpenChat(CurrentUserId, CurrentContactId); // Load chat messages
            await ReadMessages(CurrentContactId); // Mark messages as read
        }
        else
        {
            Chat.Clear(); // Clear chat if no contact ID is provided
        }
    }

    private async Task GetPersonalContact()
    {
        if (string.IsNullOrEmpty(CurrentUserId)) return;

        var profile = await ProfileRepo.GetAsync(filter: f => f.UserID.Equals(CurrentUserId));

        PersonalContact = new()
            {
                ContactId = CurrentUserId,
                ContactName = "Me",
                ImageURL = (profile is not null) ? profile.ProfilePicture : "/images/profile/avatar.png"
            };
    }

    // Method to get the list of contacts
    private async Task GetContacts()
    {
        if (string.IsNullOrEmpty(CurrentUserId)) return;

        List<string> ContactsList = await MessagesRepo.GetUniqueContactsAsync(CurrentUserId);

        if (Contacts.Any())
        {
            Contacts.Clear();
        }

        foreach (var item in ContactsList)
        {
            // Get the last message in the chat with the contact
            Message? LastMessageInChat = await MessagesRepo.GetAsync(
            orderBy: o => o.SentAt, ascending: false,
            filter: f => (f.SenderID.Equals(item) && f.ReceiverID.Equals(CurrentUserId) || f.ReceiverID.Equals(item) && f.SenderID.Equals(CurrentUserId)),
            includeProperties: "Sender,Receiver");

            // Get the count of new messages from the contact
            var newMessages = await MessagesRepo.GetTotalCountAsync(
            filter: f => f.SenderID.Equals(item) && f.ReceiverID.Equals(CurrentUserId) && f.IsRead == false);

            if (LastMessageInChat is not null)
            {
                var profile = await ProfileRepo.GetAsync(filter: f => f.UserID.Equals(item));

                // Create a new contact DTO
                ContactDTO contact = new()
                    {
                        ContactId = item,
                        ContactName = string.Empty,
                        LastMessageDate = LastMessageInChat.SentAt,
                        LastMessageContent = LastMessageInChat.Content,
                        IsSent = LastMessageInChat.SenderID.Equals(CurrentUserId) ? true : false,
                        IsRead = (newMessages > 0) ? false : true,
                    };

                if (profile is not null)
                {
                    contact.ContactName = $"{profile.FirstName} {profile.LastName}";
                    contact.ImageURL = profile.ProfilePicture;
                }
                else
                {
                    contact.ContactName = LastMessageInChat.SenderID.Equals(CurrentUserId) ? LastMessageInChat.Receiver.Email : LastMessageInChat.Sender.Email;
                    contact.ImageURL = "/images/profile/avatar.png";
                }

                Contacts.Add(contact);
            }
        }

        // Order contacts by the date of the last message
        Contacts = Contacts.OrderByDescending(e => e.LastMessageDate).ToList();
    }

    // Method to open a chat with a specific contact
    private async Task OpenChat(string userId, string contactId)
    {
        var contact = Contacts.Where(f => f.ContactId.Equals(contactId)).FirstOrDefault();

        Chat = await MessagesRepo.GetAllAsync(
        orderBy: o => o.SentAt,
        filter: f => (f.SenderID.Equals(userId) && f.ReceiverID.Equals(contactId)) ||
        (f.ReceiverID.Equals(userId) && f.SenderID.Equals(contactId)));

        foreach (var msg in Chat)
        {
            if (msg.SenderID.Equals(CurrentUserId))
            {
                msg.ImageURL = PersonalContact.ImageURL;
                msg.Name = PersonalContact.ContactName;
            }
            else
            {
                if (contact is not null)
                {
                    msg.ImageURL = contact.ImageURL;
                    msg.Name = contact.ContactName;
                }
            }
        }
    }

    // Method to send a new message
    private async Task SendMessage()
    {
        Message message = new()
            {
                SenderID = CurrentUserId,
                ReceiverID = CurrentContactId,
                Content = inputMessage.Content,
                SentAt = DateTime.Now,
                IsRead = false
            };

        await MessagesRepo.CreateAsync(message); // Create the message in the repository
        await OpenChat(CurrentUserId, CurrentContactId); // Refresh the chat
        await GetContacts(); // Refresh the contacts list
        inputMessage = new(); // Clear the input message
    }

    // Method to mark messages as read
    private async Task ReadMessages(string contactId)
    {
        if (!Chat.Any()) return;

        foreach (var message in Chat)
        {
            if (message.SenderID.Equals(contactId))
            {
                if (message.IsRead) continue;

                message.IsRead = true; // Mark message as read
                await MessagesRepo.UpdateAsync(message); // Update the message in the repository
            }
        }

        await GetContacts();
    }

    // Class to represent the input message
    private sealed class InputMessage
    {
        [Required, MaxLength(250)]
        [Display(Name = "Message")]
        public string? Content { get; set; }
    }
    }
